Adv2==1.2.0
asgiref==3.7.2
astropy==5.3.4
astroquery==0.4.6
attrs==23.1.0
beautifulsoup4==4.12.2
boto3==1.28.62
botocore==1.31.62
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
colorama==0.4.6
contourpy==1.1.1
cryptography==41.0.4
cycler==0.12.1
decorator==4.4.2
Django==4.2.5
django-cors-headers==4.2.0
django-js-asset==2.1.0
django-mptt==0.15.0
django-storages==1.14.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
ephem==4.1.5
ez-setup==0.9
ffmpeg-python==0.2.0
fonttools==4.43.1
future==0.18.3
html5lib==1.1
idna==3.4
imageio==2.31.5
imageio-ffmpeg==0.4.9
importlib-metadata==6.8.0
importlib-resources==6.1.0
inflection==0.5.1
jaraco.classes==3.3.0
jmespath==1.0.1
JsonForm==0.0.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
JsonSir==0.0.2
keyring==24.2.0
kiwisolver==1.4.5
lazy_loader==0.3
llvmlite==0.41.0
matplotlib==3.8.0
more-itertools==10.1.0
moviepy==1.0.3
networkx==3.1
numba==0.58.0
numpy==1.23.1
packaging==23.2
Pillow==10.0.1
proglog==0.1.10
psycopg2-binary
pycparser==2.21
pyephem==9.99
pyerfa==2.0.0.3
PyJWT==2.8.0
pymovie==3.9.7
pyparsing==3.1.1
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqtgraph==0.12.4
python-dateutil==2.8.2
python-dotenv==1.0.0
Python-EasyConfig==0.1.7
pytz==2023.3.post1
pyvo==1.4.2
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
ravf==1.0.1
referencing==0.30.2
requests==2.31.0
Resource==0.2.1
rpds-py==0.10.6
s3transfer==0.7.0
scikit-image==0.22.0
scipy==1.11.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tifffile==2023.9.26
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
